<div class="body">
    <h1 class="mt-3">Update Coupon</h1>
    <form [formGroup]="updateForm">
        <div class="container1">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Coupon Name</mat-label>
                        <input matInput placeholder="Ex. Diwali Coupon" formControlName="couponName">
                        <mat-error *ngIf="updateForm.get('couponName')?.hasError('maxlength')">Coupon Name should not
                            exceed 100 characters</mat-error>
                        <mat-error *ngIf="updateForm.get('couponName')?.hasError('required')">Coupon Name is
                            required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="" formControlName="description">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                        <div *ngIf="updateForm.get('startDate')!.hasError('pastDateError')">
                            <mat-error>{{ updateForm.get('startDate')!.getError('pastDateError') }}</mat-error>
                        </div>
                        <mat-error *ngIf="updateForm.get('startDate')?.hasError('required')">Start Date is
                            required</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                        <div *ngIf="updateForm.get('endDate')!.hasError('dateError')">
                            <mat-error>{{ updateForm.get('endDate')!.getError('dateError') }}</mat-error>
                        </div>
                        <mat-error *ngIf="updateForm.get('endDate')?.hasError('required')">End Date is
                            required</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Discount</mat-label>
                        <div class="input-group">
                            <span><input matInput type="number" placeholder="" formControlName="discount"></span>
                            <!-- Display formatted discount amount -->
                            <span *ngIf="updateForm.get('discountType')?.value === 'Fixed Amount'">($)</span>
                            <span *ngIf="updateForm.get('discountType')?.value === 'Percentage'">(%)</span>
                        </div>
                        <mat-error *ngIf="updateForm.get('discount')?.hasError('max')">
                            {{ updateForm.get('discount')?.getError('max') }}
                        </mat-error>
                        <mat-error *ngIf="updateForm.get('discount')?.hasError('required')">
                            Discount is required
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Quantity</mat-label>
                        <mat-error *ngIf="updateForm.get('quantity')?.hasError('max')">Quantity should not exceed 10000
                            characters</mat-error>
                        <input matInput type="number" placeholder="" formControlName="quantity" readonly>
                    </mat-form-field>
                </div>
            </div>

           

            <div class="row">
                <div class="col-md-12">
                    <mat-label style="color: grey;"><b>Discount Type*</b></mat-label>&nbsp;&nbsp;
                    <mat-radio-group formControlName="discountType">
                        <mat-radio-button value="Fixed Amount">Fixed Amount</mat-radio-button>
                        <mat-radio-button value="Percentage">Percentage</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="updateForm.get('discountType')?.hasError('required')">Discount Type is
                        required</mat-error>
                </div>
            </div>
        </div>
        <div class="button-container mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="onCancelClick()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!updateForm.valid"
                (click)="onUpdateClick(updateForm.value)">Update</button>&nbsp;
        </div>
    </form>
</div>